{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        <main>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success fade-out">
                    {{ message }}
                </div>
            {% endfor %} 
            <h1>Liste des anniversaires</h1>
            <div id="btn_soon_add">
                <button><a href="{{ path('app_anniversary_soon') }}">Afficher les prochains anniversaires</a></button>
                <button><a href="{{ path('app_anniversary_add') }}">Ajouter une date d'anniversaire</a></button>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date</th>
                        <th>Prochain anniversaire</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for anniversarys in anniversary %}
                    <tr>
                        <td>{{anniversarys.lastname}}</td>
                        <td>{{anniversarys.firstname}}</td>
                        <td>{{anniversarys.date|date('d-m-Y')}}</td>
                        <td>{{anniversarys.dateYears|date('d-m-Y')}}</td>
                        <td><a href="{{ path('app_anniversary_edit', {'id': anniversarys.id}) }}"><i class="fa-regular fa-pen-to-square"></i></a></td>
                        <td><a href="{{ path('app_anniversary_delete', {'id': anniversarys.id}) }}"><i class="fa-solid fa-trash-arrow-up"></i></a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endif %}
{% endblock %}
