{% extends "base.html.twig" %}
{% block stylesheets %}
    <link href="{{ asset('css/index.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') or is_granted('IS_AUTHENTICATED_REMEMBERED')%}
        <main>
            <h1>Liste des prochains anniversaires</h1>
            <button><a href="{{ path('app_anniversary') }}">Retour</a></button>
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date</th>
                        <th>Prochain anniversaire</th>
                    </tr>
                </thead>
                <tbody>
                {% for anniversarys in anniversary %}
                    <tr>
                        <td>{{anniversarys.lastname}}</td>
                        <td>{{anniversarys.firstname}}</td>
                        <td>{{anniversarys.date|date('d-m-Y')}}</td>
                        <td>{{anniversarys.dateYears|date('d-m-Y')}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    {% endif %}
{% endblock %}
